
[submodule "chipcompiler/thirdparty/ecc-tools"]
	path = chipcompiler/thirdparty/ecc-tools
	url = https://github.com/YihangQiu/ecc-tools.git
[submodule "chipcompiler/thirdparty/ecc-dreamplace"]
	path = chipcompiler/thirdparty/ecc-dreamplace
	url = https://github.com/YihangQiu/ecc-dreamplace.git
